/backend/__pycache__
/backend/old
/backend/backend.log
/backend/data.db
/backend/doc_faiss.index
/backend/document_embeddings.npy
/backend/document_metadata.json
/backend/qa_faiss.index
/backend/qa_embeddings.npy
/backend/qa_metadata.json

/dataset/kb/Chapter 1.pdf
/dataset/kb/Chapter 2 (Part I).pdf
/dataset/qa/

/frontend/frontend.log

/backend/retriever.py

README_old.md
.DS_Store